ul {
  list-style: none;
  
  margin: 50px auto;

  text-align: center;
}
li {
  display: block;
  
  margin: 20px 0;
  
  background: #ddd;
  
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
a {
  display: block;
  
  padding: 10px;

  border-bottom: 1px solid #aaa;

  font-size: 32px;
  color: #222;
  text-decoration: none;
}
a:hover {
  border-bottom-color: transparent;
}
